<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.2//EN"	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Action" type="name.hm.m.Action" />
		<typeAlias alias="Classroom" type="name.hm.m.Classroom" />
		<typeAlias alias="Department" type="name.hm.m.Department" />
		<typeAlias alias="Group" type="name.hm.m.Group" />
		<typeAlias alias="Role" type="name.hm.m.Role" />
		<typeAlias alias="Stua" type="name.hm.m.Stua" />
		<typeAlias alias="Student" type="name.hm.m.Student" />
		<typeAlias alias="Task" type="name.hm.m.Task" />
		<typeAlias alias="Tca" type="name.hm.m.Tca" />
		<typeAlias alias="Teacher" type="name.hm.m.Teacher" />
		<typeAlias alias="Title" type="name.hm.m.Title" />
		<typeAlias alias="User" type="name.hm.m.User" />
		<typeAlias alias="Workflow" type="name.hm.m.Workflow" />
	</typeAliases>
	
	<environments default="dev">
		<environment id="dev">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://localhost:3306/cucgp?characterEncoding=utf8" />
				<property name="username" value="root" />
				<property name="password" value="" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="name/hm/jpa/xml/ActionMapper.xml" />
		<mapper resource="name/hm/jpa/xml/ClassroomMapper.xml" />
		<mapper resource="name/hm/jpa/xml/DepartmentMapper.xml" />
		<mapper resource="name/hm/jpa/xml/GroupMapper.xml" />
		<mapper resource="name/hm/jpa/xml/RoleMapper.xml" />
		<mapper resource="name/hm/jpa/xml/StuaMapper.xml" />
		<mapper resource="name/hm/jpa/xml/StudentMapper.xml" />
		<mapper resource="name/hm/jpa/xml/TaskMapper.xml" />
		<mapper resource="name/hm/jpa/xml/TcaMapper.xml" />
		<mapper resource="name/hm/jpa/xml/TeacherMapper.xml" />
		<mapper resource="name/hm/jpa/xml/TitleMapper.xml" />
		<mapper resource="name/hm/jpa/xml/UserMapper.xml" />
		<mapper resource="name/hm/jpa/xml/WorkflowMapper.xml" />
	</mappers>
</configuration>