<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="name.hm.jpa.ActionMapper">
	<resultMap type="Action" id="action">
		<id property="actionId" column="action_id" javaType="Integer" />
		<result property="actionName" column="action_name" javaType="String" />
		<result property="actionUrl" column="action_url" javaType="String" />
		<result property="description" column="description" javaType="String" />
		<result property="roleId" column="role_id" javaType="Integer" />
	</resultMap>

	<select id="selectByActionId" resultMap="action" parameterType="Integer">
		SELECT action_id, action_name, action_url, description, role_id
		FROM
		cucgp.`action` WHERE action_id = #{param1};
	</select>

	<select id="selectByRoleId" resultMap="action" parameterType="Integer">
		SELECT action_id, action_name, action_url, description, role_id
		FROM
		cucgp.`action` WHERE role_id = #{param1}
		ORDER BY action_id ASC;
	</select>

	<insert id="insert" parameterType="Action" useGeneratedKeys="true"
		keyProperty="actionId" keyColumn="action_id">
		INSERT INTO cucgp.`action`
		(action_id, action_name, action_url, role_id, description)
		VALUES
		(#{actionId}, #{actionName}, #{actionUrl}, #{roleId}, #{description});
	</insert>

	<delete id="delete" parameterType="Action">
		DELETE FROM cucgp.`action` WHERE action_id = #{actionId};
	</delete>

</mapper>
