<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="name.hm.jpa.GroupMapper">

	<resultMap type="Group" id="group">
		<id javaType="Integer" column="group_id" property="groupId" />
		<result javaType="String" column="group_name" property="groupName" />
		<collection property="roles" ofType="Integer" select="rolesId" column="role_id" />
	</resultMap>

	<insert id="setRoles" parameterType="Integer">
		INSERT INTO role_has_group 
		(group_id, role_id) 
		VALUES
		(#{param1},#{param2});
	</insert>

	<select id="getRoles" parameterType="Integer" resultType="Integer">
		SELECT role_id 
		from role_has_group
		WHERE group_id = #{param1}
		ORDER BY role_id ASC;
	</select>
	
	<update id="update" parameterType="Group">
	  UPDATE cucgp.`group` SET
	  group_name = #{groupName}
	  WHERE group_id = #{groupId};
	</update>
	
	<select id="selectByGroupId" parameterType="Integer" resultMap="group">
		SELECT group_id, group_name
		FROM cucgp.`group` 
		WHERE group_id = #{param1};
	</select>

	<select id="selectAll" parameterType="Group" resultMap="group">
	  SELECT group_id, group_name FROM cucgp.`group`;
	</select>

	<insert id="insert" parameterType="Group">
		<selectKey keyProperty="groupId" order="BEFORE" resultType="Integer">
			SELECT IFNULL(MAX(group_id+1),1) AS group_id FROM cucgp.`group`;
		</selectKey>
		INSERT INTO cucgp.`group` (group_id, group_name)
		VALUES
		(#{groupId}, #{groupName});
	</insert>

	<delete id="delete" parameterType="Group">
	   DELETE FROM cucgp.`group` WHERE group_id = #{groupId};
	</delete>

</mapper>