<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="name.hm.jpa.UserMapper">
  <resultMap type="User" id="user">
    <id column="user_id" javaType="Integer" property="userId" />
    <result column="user_name" javaType="String" property="userName" />
    <result column="password" javaType="String" property="password" />
    <result column="user_home" javaType="String" property="userHome" />
    <result column="group_id" javaType="Integer" property="groupId" />
  </resultMap>

  <select id="selectAll" resultMap="user">
    SELECT user_id, group_id, user_name, password, user_home 
    FROM
    cucgp.`user`;
  </select>

  <select id="selectByUserName" parameterType="Integer" resultMap="user">
    SELECT user_id, group_id, user_name, password, user_home
    FROM
    cucgp.`user`
    WHERE user_name = #{param1};
  </select>

  <update id="update" parameterType="User">
    UPDATE cucgp.`user` SET
    group_id = #{groupId},
    user_name = #{userName},
    password = #{password},
    user_home = #{userHome}
    WHERE user_id = #{userId};
  </update>

  <insert id="insert" parameterType="User" useGeneratedKeys="true"
    keyColumn="user_id" keyProperty="userId">
    INSERT INTO cucgp.`user` 
    (user_id, group_id, user_name, password, user_home)
    VALUES
    (#{userId}, #{groupId}, #{userName}, #{password}, #{userHome});
    <!-- 
    <selectKey keyProperty="userId" resultType="Integer" order="AFTER">
      SELECT MAX(user_id) AS user_id FROM cucgp.`user`;
    </selectKey>
    -->
  </insert>

  <delete id="delete" parameterType="User">
    DELETE FROM cucgp.`user` WHERE user_id = #{userId};
  </delete>

</mapper>
